parameters:
	ignoreErrors:
		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Components/Table/Renderers/AdminRenderer.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Components/Table/Renderers/PublicRenderer.php
