includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Support/Helpers/helpers.php
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\.*#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false
